.pac-container{
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.pac-container::after {
  content: none;
}

.pac-item {
  padding: 10px 0 0 15px;
  border-top: none;
}

.pac-item:hover {
  background-color: #fff1f0;
}